/* app/globals.css */

/* 1️⃣ Design system variables */
:root {
  --geist-space-gap: 24px;

  --geist-page-margin: var(--geist-space-gap);
  --geist-page-width: 1200px;

  --geist-page-width-with-margin: calc(
    var(--geist-page-width) + (var(--geist-page-margin) * 2)
  );
}

/* 2️⃣ Reset */
html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* 3️⃣ Main page container */
main {
  font-family: 'Roboto', sans-serif;
  max-width: var(--geist-page-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--geist-page-margin);
  padding-right: var(--geist-page-margin);
}
